  
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
  
a {
    text-decoration: none;
}
  
ul,
ol,
li {
    list-style: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
  
html,
body {
    background: #fff;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    position: absolute;
    width: 10%;
    height: 45%;
    top: 8%;
    right: 31%;
    cursor: pointer;
}

.wrapper.modificate2 .btn {
    width: 10%;
    height: 45%;
    top: 8%;
    right: 26%;
}

.wrapper.modificate3 .btn {
    width: 10%;
    height: 45%;
    top: 8%;
    right: 26%;
}


.popup {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}
  
.popup.active {
    display: flex;
}
  
.popup_container {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    height: 90%;
}

.close {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: end;
}

.close span {
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.object_container {
    position: relative;
    display: flex;
    margin: 20px;
    height: 90%;
}

.object {
    position: relative;
    width: 45%;
    height: 100%;
    background: url(images/object.jpg) no-repeat;
    background-position: center center;
    background-size: contain;
}

.settings_btns {
    position: absolute;
    z-index: 15;
}

.settings_btns div {
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

.options_btn {
    background: rgb(126, 126, 254);
    margin-bottom: 20px;
}

.start_btn {
    background: #71ff49;
    display: none;
}

.start_btn.active {
    display: block;
}

.stop_btn {
    background: rgb(255, 87, 87);
    display: none;
}

.stop_btn.active {
    display: block;
}

.options_popup {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}
  
.options_popup.active {
    display: flex;
}
  
.options_popup_container {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 25%;
}

form {
    padding: 20px;
}

.item {
    margin-bottom: 10px;
}

.item:first-child {
    margin-bottom: 5px;
}

.item_container {
    display: flex;
    align-items: center;
}

input {
    display: block;
    padding: 5px 0;
    outline: none;
    width: 100px;
    margin-right: 5px;
}

.sensor_item {
    display: flex;
    align-items: center;
}

.sensor {
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    margin-right: 5px;
}

.sensor span {
    margin-right: 2px;
}

.light {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(115,115,115,1) 0%, rgba(80,80,80,1) 54%);
}

.light.green {
    background: radial-gradient(circle, rgba(25,245,20,1) 0%, rgba(2,116,2,1) 54%);
}

.light.red {
    background: radial-gradient(circle, rgba(245,20,20,1) 0%, rgba(116,2,2,1) 54%);
}

.sensor_item:nth-child(1) {
    position: absolute;
    left: 50%;
    top: 55%;
}

.sensor_item:nth-child(2) {
    position: absolute;
    left: 52%;
    top: 20%;
}

.sensor_item:nth-child(3) {
    position: absolute;
    left: 32%;
    top: 41%;
}

.sensor_item:nth-child(4) {
    position: absolute;
    left: 32%;
    top: 68%;
}

.submit {
    padding: 5px;
    background: rgb(126, 126, 254);
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    width: auto;
}

.canvas_container {
    display: flex;
}

.scale_nums {
    margin-right: 5px;
}

.scales, .scale_nums {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scales_container span {
    display: block;
    width: 10px;
    height: 1px;
    background: #000;
}

.canvas {
    width: 50%;
}

#canvas {
    border: 1px solid #000;
    background: url(images/canvas.jpg);
    background-size: 150%;
}

.timer {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.timer span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 5px;
}

.lines {
    margin-top: 15px;
}

.line {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.line p {
    width: 210px;
}

.line div:first-child {
    width: 30px;
    height: 2px;
    margin-right: 5px;
}

.line:nth-child(1) div:first-child {
    background: blue;
}

.line:nth-child(2) div:first-child {
    background: red;
}

.line:nth-child(3) div:first-child {
    background: green;
}

.line:nth-child(4) div:first-child {
    background: orange;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 20px;
    cursor: pointer;
}

.level_popup, .consumption_popup, .temperature1_popup, .temperature2_popup {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}
  
.level_popup.active, .consumption_popup.active, .temperature1_popup.active, .temperature2_popup.active {
    display: flex;
}
  
.level_popup_container, .consumption_popup_container, .temperature1_popup_container, .temperature2_popup_container {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 50%;
}

.level_popup_container p, .consumption_popup_container p, .temperature1_popup_container p, .temperature2_popup_container p {
    font-weight: 600;
    margin-left: 50px;
}

#canvas1, #canvas2, #canvas3, #canvas4 {
    border: 1px solid #000;
    background: url(images/canvas.jpg);
    background-size: 150%;
    margin-right: 30px;
}

.level_popup .canvas_container, .consumption_popup .canvas_container, .temperature1_popup .canvas_container, .temperature2_popup .canvas_container {
    margin: 50px;
}

.canvas_container .sensor_item {
    position: static;
    display: block;
}

.canvas_container .sensor {
    width: 70px;
    margin-bottom: 10px;
}